/* You can add global styles to this file, and also import other style files */
html,
body {
    margin: 0px;
    padding: 0px;
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer/Edge */
}

::-webkit-scrollbar {
    display: none;
}

.slider-wrapper {
    img {
        height: 78vh !important;
        object-fit: fill;
    }
}